<template name="posts">
    <div class="container marketing">
        <hr class="featurette-divider">
        {{#each listsPost}}
            <div class="row featurette">
                <div class="col-md-5">
                    <img src="{{getAbs}}upload/{{getFile imageId}}" class="featurette-image img-responsive center-block" dheight="400px" width="400px" ata-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">{{title}}&nbsp;<span class="text-muted">It'll blow your mind.</span></h2>
                    <p class="lead">{{body}}</p>
                </div>
            </div>

            <hr class="featurette-divider">
        {{/each}}
    </div>
</template>
