<template name="posts">
    <div class="container marketing">
        <hr class="featurette-divider">
        {{#each listsPost}}
            <div class="row featurette">
                <div class="col-md-5">
                    <img src="{{getAbs}}upload/{{getFile imageId}}" class="featurette-image img-responsive center-block"
                        height="400px" width="400px" data-src="holder.js/500x500/auto" alt="Generic placeholder image" style="image-orientation: from-image;">
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">{{title}}&nbsp;<span class="text-muted">It'll blow your mind.</span></h2>
                    <p class="lead">{{body}}</p>
                </div>
            </div>

            <hr class="featurette-divider">
        {{/each}}
        {{#if nextPath}}
            <a class="load-more" href="{{nextPath}}">Load more</a>
        {{/if}}
    </div>
</template>
